.timer-box-card {
    padding: 8px;
    box-shadow: 0px 3px 10px #aaa;
    margin-top: 16px; 
    height: 92vw;
    width: 92vw;
    border-radius: 8px;
    justify-content: flex-end;
    position: relative;
}

.timer-clock {
    height: 68vw;
    width: 68vw;
    border: 5px solid lightgray;
    border-radius: 34vw;
    position: absolute;
    top: 24px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timer-hour-hand {
    height: 60px;
    width: 4px;
    background-color: lightgrey;
    position: relative;
    top: calc(30vw - 48px);
}

.timer-minute-hand {
    height: 128px;
    width: 4px;
    background-color: lightgrey;
    position: relative;
    top: calc(35vw - 102px);
    transform: rotate(60deg);
    left: 30px;
}

.card-options {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.card-options button {
    width: 50%;
    background-color: white;
    padding: 20px;
}

.card-options button:hover {
    color: #fb1a1a
}

svg {
    transform: rotate(-90deg);
}

.timer-time {
    flex-direction: row;
}

.timer-time div :last-child {
    border-top: 1px solid black;
    padding: 0 8px;
}